<div class="wrapper">
  <div class="contenedor">
    <div class="boton-auto" (click)="obtenerMensajeFetch()">
      <div class="auto-icon">🎮</div>
    </div>
    <div class="boton-auto" (click)="crearUsuario()">
      <div class="auto-icon">👾</div>
    </div>
    <div class="boton-auto" (click)="actualizarUsuario()">
      <div class="auto-icon">🕹️</div>
    </div>
    <div class="boton-auto" (click)="eliminarUsuario()">
      <div class="auto-icon">⚔️</div>
    </div>
  </div>
  <p class="mensaje">{{ mensaje }}</p>
</div>
